# Ignore the following files/directories

# Output files created by tool
*.png
*.xlsx
*.csv
*.jsonl

# Model Folders (They are far too large)
models/
modelsDecent/
modelsLowerEpoch/
modelsLargeTraining/

# API key files
*.env
*.txt